@model LoginViewModel

@{
    ViewBag.Title = "Logowanie";
}
<div class="container justify-content-center h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="card border-light my-auto h-auto">
            <div class="card-body">
                <h3 class="card-title text-center text-uppercase">
                    Obsługa Zamówień
                    <br>
                    <span class="text-muted h4">nazwa firmy</span>
                </h3>
                <hr>
                <div class="d-flex form-container justify-content-center">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly"
                             class="form-group text-danger text-center validation-summary-unstyled"></div>
                        <div class="form-group">
                            <div class="input-group">
                                <input asp-for="Login" class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text"> <i class="fas fa-user"></i> </span>
                                </div>
                            </div>
                            <span asp-validation-for="Login" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input asp-for="Password" class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text"> <i class="fas fa-key"></i> </span>
                                </div>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input asp-for="RememberMe" class="custom-control-input">
                                <label asp-for="RememberMe" class="custom-control-label"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Zaloguj</button>
                        </div>
                        <div class="text-right">
                            <a href="#" class="btn">Zapomniałeś hasła?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>