@{
    ViewBag.Title = "Usuń pracownika";
}

<h2 class="pt-3 mb-3">@ViewBag.Title</h2>

<div asp-validation-summary="All" class="form-group validation-summary-unstyled"></div>
<a asp-controller="Administration" asp-action="ListEmployees" class="btn btn-secondary mr-1">Wróć</a>