@model EditPositionViewModel
@{
    ViewBag.Title = "Edytuj stanowisko";
}

<h2 class="pt-3 mb-3">@ViewBag.Title</h2>
@if (ViewData.ModelState["id"].Errors.Any())
{
    <div asp-validation-summary="All" class="validation-summary-unstyled"></div>

    <a asp-controller="Administration" asp-action="ListPositions" class="btn btn-secondary mr-1">Wróć</a>
}
else
{
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger validation-summary-unstyled"></div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="PositionName"></label>
                <input asp-for="PositionName" class="form-control">
                <span asp-validation-for="PositionName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <a asp-controller="Administration" asp-action="ListPositions" class="btn btn-secondary mr-1">Wróć</a>

                <button type="submit" class="btn btn-primary">Edytuj</button>
            </div>
        </div>
    </form>
}